<!DOCTYPE html>
<html>
<head>
    <title>Create User Form</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <h2>Create User Page</h2><br>
    <div class="login">
    <form id="login" method="post" action="/create-user">
        <label><b>User Name
        </b>
        </label>
        <input type="text" name="username" placeholder="Username">
        <br><br>
        <label><b>Password
        </b>
        </label>
        <input type="Password" name="password" placeholder="Password">
        <br><br>
        <input type="submit" value="Create User">
    </form>
</div>
</body>
</html>